# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/build
/dist

# testing
/coverage

# environment files
.env
.env.*

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# caches
/.cache
.eslintcache

# OS
.DS_Store

# generated build artifacts
/public/data/brother-info.json
